* {
	box-sizing: border-box; /*Makes sizing include padding and border*/
	background-color: #33332B;
}

div {
	width: 100%;
	padding: 10px;
}

div.all {
	width: 1000px;
	margin: auto; /*Centers div*/
	padding: 10px !important;
}


div.header {
	height: 100px;
	background-color: #33332B;
}

div.Title{
	height:100px;
	background-color:#33332B;
	padding-left: 350px;
	padding-bottom: 50px;
	font-size: 50pt;
}

div.navbar {
	height: 30px;
	background-color: #33332B;
}

div.body {
	padding: 5px !important;
}

div.content {
	width: 90% !important;
	float: left; /*Puts content and sidebar next to each other*/
	padding:50px;
	background-color:#33332B;
}

div.sidebar {
	width: 25% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color:#33332B;
}

div.footer {
	height: 100px;
	background-color:#33332B;
}

span.Orange{
	color: #ED7926;
}

p.Orange{
	color: #ED7926;
}

p.White{
	color: #FFFFFF;
}