* {
	box-sizing: border-box; /*Makes sizing include padding and border*/
}

div {
	width: 100%;
	padding: 5px;
}

.inline-top {
	display: inline;
	color: #ed7926;
	font-size: 750%

}

div.all {
	width: 1000px;
	margin: auto; /*Centers div*/
	padding: 0px !important;
}

div.header {
	height: 200px;
	background-color: #33332B;
}

div.navbar {
	height: 30px;
	background-color: #33332B;
}

div.body {
	padding: 0px !important;
}

div.content {
	width: 75% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #ED7926;
}

div.sidebar {
	width: 25% !important;
	float: left; /*Puts content and sidebar next to each other*/
	background-color: #ED7926;
}

div.footer {
	height: 100px;
	color: #33332B;



}

*  {background-color: #33332B}

